* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    position: relative;
}

.logo {
    width: 40px;
}

ul {
    transition: 0.5s;
    position: absolute;
    right: 0;
}

ul li {
    display: inline-block;
    transition: 0.5s;
}

ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

ul li a:hover {
    color: rgb(186, 186, 186);
}

ul li:hover {
    transform: scale(1.2);
}

.menuDrop {
    transform: translateY(0);
}

.mobileMenu {
    cursor: pointer;
}

.row1,
.row2,
.row3 {
    height: 3px;
    width: 20px;
    background-color: #fff;
    margin-top: 3px;
    border-radius: 20px;
    display: none;
    transition: 0.8s;
}

.row1After {
    transform: rotate(45deg) translateY(3.5px) translateX(4.5px);
    width: 20px;
}

.row2After {
    display: none !important;
}

.row3After {
    transform: rotate(133deg);
    width: 20px;
}

@media screen and (max-width:600px) {
    .mobileMenu div {
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -5px;
        top: 32px;
        transform: translateX(300px);
        background-color: rgba(0, 0, 0, 0.534);
        color: #fff;
        padding: 10px;
        border: 1px solid #fff;
    }
    ul li {
        margin: 5px 0;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.content .text {
    width: 40%;
    color: #fff;
}

.content .text h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.content .text p {
    font-size: 18px;
    margin: 20px 0;
}

.content .text a {
    text-decoration: none;
    background: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    color: #000;
}

.content .text a:hover {
    text-decoration: none;
    background: rgb(94, 93, 93);
    padding: 6px 15px;
    border-radius: 20px;
    color: #fff;
}

.content .image {
    width: 30%;
    display: flex;
    justify-content: center;
}

.content .image img {
    width: 180px;
}

.icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.icons img {
    width: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.icons img:hover {
    transform: scale(1.2);
}

@media screen and (max-width:550px) {
    .content .text h2 {
        font-size: 35px;
    }
    .content .text p {
        font-size: 15px;
    }
    .content .image img {
        width: 150px;
    }
    .icons img {
        width: 40px;
    }
}

@media screen and (max-width:400px) {
    .content .text h2 {
        font-size: 30px;
    }
    .content .text p {
        font-size: 14px;
    }
    .content .text a {
        font-size: 10px;
    }
    .icons img {
        width: 30px;
    }
}


/* Product Page Style */

.productsContent h1 {
    color: #fff;
}